---
layout: default
---

<div class="home">

  <h2>
    New to CTCMS? Start <a href="/linux_tutorials/intro_linux.html">here</a>
  </h2>
  <h1>Linux tutorials</h1>
  <ul>
    {% for tutorial in site.linux_tutorials %}
      <li>
        <h2><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></h2>
        <!--<p>{{ tutorial.author }}</p> -->
      </li>
    {% endfor %}
  </ul>
  <h1>Programming tutorials</h1>
  <ul>
    {% for tutorial in site.programming_tutorials %}
      <li>
        <h2><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></h2>
        <!--<p>{{ tutorial.author }}</p> -->
      </li>
    {% endfor %}
  </ul>

  <h1>Data analysis tutorials</h1>
  <ul>
    {% for tutorial in site.data_tutorials %}
      <li>
        <h2><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></h2>
        <!--<p>{{ tutorial.author }}</p> -->
      </li>
    {% endfor %}
  </ul>


</div>
